* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

img {
     
    max-width: 700px;
    align-self: center;
}

iframe {
    border-top: 10px solid #111;
    border-bottom: 10px solid #111;
    border-left: 2px solid black;
    border-right: 2px solid #111;
}

h2 {
    padding: 20px 0;
}

p {
    color: rgba(0,0,0,0.6); 
}

@media (max-width: 768px) {
    .container, .boo {
        width: 80%;
    }

    img {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    iframe {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container, .boo {
        width: 90%;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}
